* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 203, 203);
}

.navbar-light, .bg-light {
  background-color: #fff !important;
}

.navbar-brand img {
  height: 90px;
}

.nav-link {
  text-decoration: none;
  color: #09E820;
  font-weight: 600;
}
.nav-link:hover, .nav-link .active {
  background-color: rgb(206, 203, 203);
  padding: 4px;
  color: rgb(39, 39, 39);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #09E820;
}

.social {
  width: 350px;
  padding: 10px;
}
.social p {
  font-weight: 600;
}
.social i {
  color: #09E820;
  margin: 0 4px;
}
.social i:hover {
  color: rgb(39, 39, 39);
  transform: scale(2);
}

.social .call {
  color: red;
  font-weight: 900;
}
.social .call span {
  color: rgb(39, 39, 39);
  font-size: 1.3rem;
}

.usawa-bana {
  position: relative;
  height: 400px;
  background-color: #E1FF26;
  z-index: -2;
  padding: 1px;
}
.usawa-bana .overlay-div {
  position: absolute;
  width: 55vw;
  height: 350px;
  background-color: #09E820;
  float: left;
  margin-top: 100px;
  border-radius: 8px;
  z-index: 5;
  padding: 20px;
}
.usawa-bana .overlay-div h3 {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px rgb(39, 39, 39);
}
.usawa-bana .overlay-div p {
  font-size: 1.2rem;
}
.usawa-bana .bana-img {
  width: 50vw;
  float: right;
}
.usawa-bana .bana-img img {
  height: 350px;
  width: 50vw;
  position: absolute;
  z-index: 2;
}

/* Style inputs with type="text", select elements and textareas */
input[type=email], input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgb(206, 203, 203); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #09E820;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #09E820;
}

/* Add a background color and some padding around the form */
.form-container {
  width: 80vw;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

form {
  background-color: rgb(206, 203, 203);
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #09E820;
  font-size: 1.2rem;
  font-weight: 600;
}
form p {
  text-align: center;
  margin-bottom: 30px;
}
form input {
  outline-color: #09E820;
  padding: 2px;
  border-radius: 4px;
}
form .btn-success {
  background-color: #09E820 !important;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

.btn-outline-success {
  outline-color: 4px #09E820 !important;
  font-weight: 600;
  color: rgb(39, 39, 39);
}
.btn-outline-success:hover {
  background-color: #09E820 !important;
}

.move-top {
  position: fixed;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  display: none;
  color: rgb(39, 39, 39);
}

.payment {
  background-color: rgb(206, 203, 203);
  padding: 10px 20px;
  height: auto;
  border-radius: 4px;
  box-shadow: 2px 1px 1px 1px #09E820;
}
.payment h4 {
  color: #09E820;
}

.payment > img, form img {
  max-width: 100px;
  height: 60px;
  margin: 10px 14px;
}

.payment h4 {
  text-shadow: 2px 3px 2px rgb(39, 39, 39);
}

.bg-green {
  background-color: #09E820 !important;
}

footer {
  background-color: #fff;
  padding: 10px;
}
footer img {
  height: 120px;
  width: 160px;
}
footer .copy {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
footer ul li {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
footer .fom {
  width: auto;
  padding: 8px;
}
footer hr {
  width: 80%;
  margin: 20px auto;
  border: 2px solid rgb(39, 39, 39);
}

.icons i {
  font-size: 2rem;
  margin: 10px;
}
.icons i:hover {
  color: #09E820;
}

form img {
  max-width: 80px;
  height: 40px;
}

.full-image img {
  width: 100vw;
  height: 70vh;
  margin: auto;
}

.card-title, .what-we-do {
  background-color: rgb(39, 39, 39);
  color: rgb(206, 203, 203);
  padding: 10px;
}

.card-img-top {
  margin: 0 auto;
}

@media (min-width: 290px) and (max-width: 425px) {
  .navbar-brand img {
    height: 100px;
  }
  .nav-link {
    font-size: 0.7rem;
  }
  .social {
    width: 220px;
    padding: 8px;
  }
  .social p, .social .call, .social .call span {
    font-size: 1rem;
    font-weight: 900;
  }
  .social i {
    margin: 0 8px;
    font-size: 1rem;
  }
  .social i:hover {
    transform: scale(2);
  }
  .usawa-bana {
    height: 250px;
    padding: 1px;
  }
  .usawa-bana .overlay-div {
    width: 70%;
    height: auto;
    margin-top: 60px;
    padding: 10px;
  }
  .usawa-bana .overlay-div h2 {
    font-size: 1.2rem;
  }
  .usawa-bana .overlay-div p {
    font-size: 1rem;
  }
  .usawa-bana .bana-img img {
    height: 220px;
    width: 40vw;
    padding-right: 0.9vw;
  }
  footer .icons i {
    font-size: 1.4rem;
    margin: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-brand img {
    height: 80px;
  }
  .nav-link {
    font-size: 0.7rem;
  }
  .social {
    width: 240px;
    padding: 8px;
  }
  .social p, .social .call, .social .call span {
    font-size: 1rem;
    font-weight: 900;
  }
  .social i {
    margin: 0 8px;
    font-size: 1rem;
  }
  .social i:hover {
    transform: scale(2);
  }
  .usawa-bana {
    height: 300px;
  }
  .usawa-bana .overlay-div {
    height: 250px;
    margin-top: 50px;
    overflow: scroll;
  }
  .usawa-bana .overlay-div p {
    font-size: 0.9rem;
  }
  .usawa-bana .bana-img img {
    height: 250px;
  }
  .featured h4 {
    font-size: 1.3rem;
  }
  .full-image img {
    height: 40vh;
  }
  footer .icons i {
    font-size: 1.4rem;
    margin: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-brand img {
    height: 100px;
  }
  .nav-link {
    font-size: 1.1rem;
  }
  .social {
    width: 360px;
    padding: 10px;
  }
  .social p, .social .call, .social .call span {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .social i {
    margin: 0 8px;
    font-size: 1.2rem;
  }
  .social i:hover {
    transform: scale(2);
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .navbar-brand img {
    height: 150px;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .social {
    width: 350px;
    padding: 15px;
  }
  .social p, .social .call, .social .call span {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .social i {
    margin: 0 8px;
    font-size: 1.2rem;
  }
  .social i:hover {
    transform: scale(2);
  }
}
@media (min-width: 1441px) {
  .navbar-brand img {
    height: 200px;
  }
  .nav-link {
    font-size: 3rem;
    margin-right: 1rem;
  }
  .social {
    width: 550px;
    padding: 15px;
  }
  .social p, .social .call, .social .call span {
    font-size: 2.4rem;
    font-weight: 900;
  }
  .social i {
    margin: 0 8px;
    font-size: 2.4rem;
  }
  .social i:hover {
    transform: scale(3);
  }
}/*# sourceMappingURL=style.css.map */