@import './resets';
@import './variables';

body {
    background-color: $white-color;
}

header {
    nav {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 50px;
            width: 50px;
            margin: 15px;
            }
        ul {
            display: flex;
            li {
                list-style-type: none;
                padding: 8px;

                a {
                    text-decoration: none;
                    color: $green-color;
                    font-size: 1.2rem;
                    font-weight: $bold-text;
                    &:hover {
                        background-color: $gray-color;
                    }
                }
            }
        }    
    }
}
@font-face {
    font-family: Pacifico;
    src: url(sansation_bold.woff);
    font-weight: bold;
  }
  
.usawa-bana {
    position: relative;
    height: 400px;
    background-color: $yellow-color;
    z-index: -2;
    .overlay-div {
        position: absolute;
        width: 60%;
        height: 320px;
        background-color: $green-color;
        color:$white-color;
        float: left;
        font-size: 1.4rem;
        margin-top: 80px;
        border-radius: 8px;
        z-index:5;
        h3 {
            font-family: 'Times New Roman', Times, serif
        }
        p {
            font-family: pacifico;
        }
    }
    .bana-img {
        width: 45%;
        float:right;
        img {
            height: 350px;
            width: fit-content;
            position: absolute;
            z-index: 2;
        }
    }
}
form {
    background-color: $gray-color;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px $green-color;
    font-size: 1.2rem;
    font-weight: $bold-text;
    p {
        text-align: center;
        margin-bottom: 30px;
    }
    input {
        outline-color: $green-color;
        padding: 2px;
        border-radius: 4px;

    }
    .btn-success{
        background-color: $green-color !important;
        color: $black-color;
        font-weight: $bold-text;
    }
}
.bg-green {
    background-color: $green-color !important;
    
}
footer {
    .copy {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
ul {
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $black-color;
    }
}
.fom {
    width: auto;
    padding: 8px;
}
hr {
    width: 80%;
    margin: 20px auto;
    border: 2px solid $black-color;
}
}
.icons i {
    font-size: 2rem;
    margin: 10px;
    &:hover {
        color: $green-color;
    }
}

.social i {
    margin: 5px;
    color: $green-color;
}
.payment > img, form img {
    max-width: 100px;
    height: 60px;
}
form img {
    max-width: 80px;
    height: 40px;
}
.full-image img {
    width: 80vw;
    height: 70vh;
}
.card-img-top {
    width: 300px;
    margin: 10px auto;
}
.card-title  {
color: $white-color;
margin: 14px;
}
.featured{
    width: 80vw !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
