@import './resets';
@import './variables';


body {
    background-color: $gray-color;
}

.navbar-light, .bg-light {
    background-color: $white-color !important;
}
.navbar-brand img{
    height: 90px;
}
.nav-link {
            text-decoration: none;
            color: $green-color;
            font-weight: $bold-text;
            &:hover, .active {
                background-color: $gray-color;
                padding: 4px;
                color: $black-color;
                border-radius: 4px;
                box-shadow: 2px 2px 2px 2px $green-color;
            }
        }

.social {
            width: 350px;
            padding: 10px;
            p {
                font-weight: $bold-text;
            }
            i {
            color: $green-color;
            margin: 0 4px;
            &:hover {
                color: $black-color;
                transform: scale(2);
            }
        }  
    }    
    .social .call  {
        color: red;
        font-weight: $bolder-text;
        span{
            color: $black-color;
            font-size: 1.3rem;
        }
    }
  
.usawa-bana {
    position: relative;
    height: 400px;
    background-color: $yellow-color;
    z-index: -2;
    padding: 1px;
    .overlay-div {
        position: absolute;
        width: 60%;
        height: 300px;
        background-color: $green-color;
        float: left;
        margin-top: 100px;
        border-radius: 8px;
        z-index:5;
        padding: 20px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            overflow: visible;
        }
        h3 {
            color:$white-color;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 2px $black-color;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .bana-img {
        width: 50%;
        float:right;
        img {
            height: 350px;
            width: 50vw;
            position: absolute;
            z-index: 2;
            padding-right: 0.6vw;
        }
    }
}
// Contact Us Page Form
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid $gray-color; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: $green-color;
    color: $white-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:$green-color;
  }
  
  /* Add a background color and some padding around the form */
  .form-container {
    width: 80vw;
    margin: 20px auto;
    border-radius: 5px;
    background-color: $white-color;
    padding: 20px;
  }
form {
    background-color: $gray-color;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px $green-color;
    font-size: 1.2rem;
    font-weight: $bold-text;
    p {
        text-align: center;
        margin-bottom: 30px;
    }
    input {
        outline-color: $green-color;
        padding: 2px;
        border-radius: 4px;

    }
    .btn-success{
        background-color: $green-color !important;
        color: $black-color;
        font-weight: $bold-text;
    }
    
}
.btn-outline-success {
    outline-color: 4px $green-color !important;
    font-weight: $bold-text;
    color: $black-color;
    &:hover{
        background-color: $green-color !important;
    }
}
.move-top {
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    display: none;
    color: $black-color;
  }
.payment {
    background-color: $gray-color;
    padding: 10px 20px;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 1px 1px 1px $green-color;
    h4 {
        color: $green-color;
    }
}
.payment > img, form img {
    max-width: 100px;
    height: 60px;
    margin: 10px 14px;
}
.payment h4 {
    text-shadow: 2px 3px 2px $black-color;
}
.bg-green {
    background-color: $green-color !important;  
}
footer {
    background-color: $white-color;
    padding: 10px;
    img{
        height: 120px;
        width: 160px;
    }
    .copy {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
ul {
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $black-color;
    }
}
.fom {
    width: auto;
    padding: 8px;
}
hr {
    width: 80%;
    margin: 20px auto;
    border: 2px solid $black-color;
}
}
.icons i {
    font-size: 2rem;
    margin: 10px;
    &:hover {
        color: $green-color;
    }
}


form img {
    max-width: 80px;
    height: 40px;
}
.full-image img {
   width: 100vw;
    height: 70vh;
    margin: auto;
}
.card-title, .what-we-do {
    background-color: $black-color;
    color: $gray-color;
    padding: 10px;
}
.card-img-top {
    margin: 0 auto;
}



  // 320px — 425px: Mobile devices
@media (min-width: 290px) and (max-width: 425px) {
    .navbar-brand img{
        height: 100px;
    }
    .nav-link {
        font-size: .7rem;
    }
    .social {
        width: 220px;
        padding: 8px;
        p, .call, .call span{
            font-size: 1rem;
            font-weight: $bolder-text;
        }
        i {
            margin: 0 8px;
            font-size: 1rem;
            &:hover {
            transform: scale(2);
        }
    }  
}   

.usawa-bana {
    height: 250px;
    padding: 1px;
    .overlay-div {
        width: 70%;
        height: auto;
        margin-top: 60px;
        padding: 10px;
        h2 {
             font-size: 1.2rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .bana-img {
        img {
            height: 220px;
            width: 50vw;
            padding-right: 0.6vw;
        }
    }
} 
footer {
    .icons i {
        font-size: 1.4rem;
        margin: 10px;
}
  }
}
  // 426px — 768px: iPads, Tablets
  @media (min-width:481px) and (max-width: 768px){
    .navbar-brand img{
        height: 80px;
    }
    .nav-link {
        font-size: .7rem;
    }
    .social {
        width: 240px;
        padding: 8px;
        p, .call, .call span{
            font-size: 1rem;
            font-weight: $bolder-text;
        }
        i {
            margin: 0 8px;
            font-size: 1rem;
            &:hover {
            transform: scale(2);
        }
    }  
}  
 .overlay-div {
    height: auto;
 p {
    font-size: .5rem;
}  
 }
.featured h4{
    font-size: 1.3rem;
}
.full-image img {
    height: 40vh;
}

footer {
    .icons i {
        font-size: 1.4rem;
        margin: 10px;
}
  }
  }
  // 769px — 1024px: Small screens, laptops
  @media (min-width:769px) and (max-width: 1024px){
    .navbar-brand img{
        height: 100px;
    }
    .nav-link {
        font-size: 1.1rem;
    }
    .social {
        width: 360px;
        padding: 10px;
        p, .call, .call span{
            font-size: 1.2rem;
            font-weight: $bolder-text;
        }
        i {
            margin: 0 8px;
            font-size: 1.2rem;
            &:hover {
            transform: scale(2);
        }
    }  
}    
  }
  // 1025px — 1440px: Desktops, large screens
  @media (min-width:1025px) and (max-width: 1440px){
    .navbar-brand img{
        height: 150px;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .social {
        width: 350px;
        padding: 15px;
        p, .call, .call span{
            font-size: 1.2rem;
            font-weight: $bolder-text;
        }
        i {
            margin: 0 8px;
            font-size: 1.2rem;
            &:hover {
            transform: scale(2);
        }
    }  
}    
  }
  // 1441px and more —  Extra large screens, TV
  @media (min-width:1441px) {
    .navbar-brand img{
        height: 200px;
    }
    .nav-link {
        font-size: 3.0rem;
        margin-right: 1rem;
    }
    .social {
        width: 550px;
        padding: 15px;
        p, .call, .call span{
            font-size: 2.4rem;
            font-weight: $bolder-text;
        }
        i {
            margin: 0 8px;
            font-size: 2.4rem;
            &:hover {
            transform: scale(3);
        }
    }  
}    
  }
