@import './resets';
@import './variables';

@font-face {
    font-family: pacifico;
    src: url('Pacifico.ttf');
    font-weight: bold;
  }
body {
    background-color: $gray-color;
}

header {
    nav {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white-color;
        svg {
            margin-left: 15px;
        }
        img{
           height: 100px;
           width: 140px; 
           margin-left: 25px;

        }
        ul {
            display: flex;
            li {
                list-style-type: none;
                padding: 60px 10px 20px 8px;
                margin-right: 15px;
                a {
                    text-decoration: none;
                    color: $green-color;
                    font-size: 1.2rem;
                    font-weight: $bold-text;
                    &:hover {
                        background-color: $gray-color;
                        padding: 10px 6px;
                        color: $black-color;
                        border-radius: 4px;
                        text-transform: uppercase;
                        box-shadow: 2px 2px 2px 2px $green-color;
                    }
                }
            }
        }
        .social {
            padding: 10px;
         i {
            margin: 5px;
            color: $green-color;
        }  
    }          
    }
}

  
.usawa-bana {
    position: relative;
    height: 400px;
    background-color: $yellow-color;
    z-index: -2;
    padding: 1px;
    .overlay-div {
        position: absolute;
        width: 60%;
        height: 320px;
        background-color: $green-color;
        float: left;
        font-size: 1.4rem;
        margin-top: 100px;
        border-radius: 8px;
        z-index:5;
        h3 {
            padding: 10px;
            color:$white-color;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 2px $gray-color;
        }
        p {
            font-family: pacifico;
        }
    }
    .bana-img {
        width: 50%;
        float:right;
        img {
            height: 350px;
            width: 50vw;
            position: absolute;
            z-index: 2;
            padding-right: 0.6vw;
        }
    }
}
form {
    background-color: $gray-color;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px $green-color;
    font-size: 1.2rem;
    font-weight: $bold-text;
    p {
        text-align: center;
        margin-bottom: 30px;
    }
    input {
        outline-color: $green-color;
        padding: 2px;
        border-radius: 4px;

    }
    .btn-success{
        background-color: $green-color !important;
        color: $black-color;
        font-weight: $bold-text;
    }
}
.payment {
    background-color: $gray-color;
    padding: 10px 20px;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 1px 1px 1px $green-color;
    h4 {
        color: $green-color;
    }
}
.payment > img, form img {
    max-width: 100px;
    height: 60px;
    margin: 10px 14px;
}
.bg-green {
    background-color: $green-color !important;
    
}
footer {
    background-color: $white-color;
    padding: 10px;
    img{
        height: 120px;
        width: 160px;
    }
    .copy {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
ul {
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $black-color;
    }
}
.fom {
    width: auto;
    padding: 8px;
}
hr {
    width: 80%;
    margin: 20px auto;
    border: 2px solid $black-color;
}
}
.icons i {
    font-size: 2rem;
    margin: 10px;
    &:hover {
        color: $green-color;
    }
}


form img {
    max-width: 80px;
    height: 40px;
}
.full-image img {
    width: 100vw;
    height: 70vh;
}
.card-img-top {
    width: 300px;
    margin: 10px auto;
}

.featured{
    width: 80vw !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


